<ion-view view-title="Welcome!">

    <ion-content>
        <h2 class="text-center">Firebookchat</h2>
        <br />
        <br />
        <div class="padding">
            <button class="button button-block button-facebook" ng-click="ctrl.loginWith('facebook')">
                Log in with Facebook
            </button>
            <button class="button button-block button-twitter" ng-click="ctrl.loginWith('twitter')">
                Log in with Twitter
            </button>
            <button class="button button-block button-balanced" ng-click="ctrl.loginWith('google')">
                Log in with Google
            </button>
        </div>
        <div class="assertive" ng-show="!!ctrl.errorMessage">{{ ctrl.errorMessage }}</div>
    </ion-content>

</ion-view>
