<ion-view view-title="Ionic Starter App">
    <ion-content class="padding tab-dash">

        <div ng-show="ctrl.data.provider === 'facebook'">
            <p>{{ ctrl.data.facebook.displayName }}, booker</p>
            <img ng-show="ctrl.data.facebook.profileImageURL" ng-src="{{ ctrl.data.facebook.profileImageURL }}">
            <br />
            <a href="#" ng-click="ctrl.openWindow(ctrl.data.facebook.cachedUserProfile.link)"
                ng-show="ctrl.data.facebook.cachedUserProfile.link">
                Facebook page
            </a>
        </div>

        <div ng-show="ctrl.data.provider === 'twitter'" >
            <p>{{ ctrl.data.twitter.displayName }}, tweeter</p>
            <img ng-show="ctrl.data.twitter.profileImageURL" ng-src="{{ ctrl.data.twitter.profileImageURL }}">
            <br />
            <a href="#" ng-click="ctrl.openWindow('https://twitter.com/' + ctrl.data.twitter.username)">
                Twitter page
            </a>
        </div>

        <div ng-show="ctrl.data.provider === 'google'">
            <p>{{ ctrl.data.google.displayName }}, googler</p>
            <img ng-show="ctrl.data.google.profileImageURL" ng-src="{{ ctrl.data.google.profileImageURL }}">
            <br />
            <a href="#" ng-click="ctrl.openWindow(ctrl.data.google.cachedUserProfile.link)"
                ng-show="ctrl.data.google.cachedUserProfile.link">
                Google+ page
            </a>
        </div>

    </ion-content>
</ion-view>
