<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <h2>Welcome to Ionic</h2>
        <p ng-init="starters='starters'">
            This is the Ionic starter for tabs-based apps. For other starters and ready-made templates, check out the
            <a href="#" ng-click="ctrl.openWindow('http://market.ionic.io/' + starters)">Ionic Market</a>.
        </p>
        <p>
            To edit the content of each tab, edit the corresponding template file in <code>www/templates/</code>. This
            template is <code>www/templates/tab-dash.html</code>
        </p>
        <p>
            If you need help with your app, join the Ionic Community on the
            <a href="#" ng-click="ctrl.openWindow('http://forum.ionicframework.com')">Ionic Forum</a>. Make
            sure to <a href="#" ng-click="ctrl.openWindow('http://twitter.com/ionicframework')">follow us</a> on Twitter to get
            important updates and announcements for Ionic developers.
        </p>
        <p>
            For help sending push notifications, join the <a href="#" ng-click="ctrl.openWindow('https://apps.ionic.io/signup')">Ionic
            Platform</a> and check out <a href="#" ng-click="ctrl.openWindow('http://docs.ionic.io/docs/push-overview')">Ionic Push</a>.
            We also have other services available.
        </p>

        <div>{{ ctrl.data.facebook.displayName }}</div>
        <img ng-show="ctrl.data.facebook.profileImageURL" ng-src="{{ ctrl.data.facebook.profileImageURL }}">
    </ion-content>
</ion-view>
